.app {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.info {
  padding: 0 100px;
  font-size: 22px;
}

.viewport {
  border: 1px solid red;
  position: absolute;
  top: 100px;
  left: 30px;
  overflow: hidden;
}

.rect {
/*   border: 1px solid blue;
  background: lightblue; */
  position: absolute;
}

.player {
  --d: 150px;
  position: absolute;
  width: 150px;
  height: var(--d);
  margin-top: calc(-1 *  var(--d));
}